<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password_generator</title>
  </head>
  <body>
    <h1>Password generator app</h1>
    <div>
      <label for="length">Enter length</label>
      <input type="text" id="length" />
    </div>
    <div>
      <label for="letters">Use letters</label
      ><input type="checkbox" name="letters" id="letters" />
    </div>
    <div>
      <label for="numbers">Use numbers</label
      ><input type="checkbox" name="numbers" id="numbers" />
    </div>
    <div>
      <label for="symbols">Use symbols</label
      ><input type="checkbox" name="symbols" id="lsymbol" />
    </div>
    <div>
      <button>Generate !</button>
    </div>

    <div>
      <label for="password">Your password</label
      ><input type="text" name="password" id="password" />
    </div>
  </body>
</html>
